BODY { 
 SCROLLBAR-FACE-COLOR: #fcfcfc; 
 SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90; 
 SCROLLBAR-SHADOW-COLOR: #fcfcfc; 
 SCROLLBAR-3DLIGHT-COLOR: #fcfcfc; 
 SCROLLBAR-ARROW-COLOR: #240024; 
 SCROLLBAR-TRACK-COLOR: #fcfcfc; 
 SCROLLBAR-DARKSHADOW-COLOR: #48486c; 
 SCROLLBAR-BASE-COLOR: #fcfcfc 
}
  ::-webkit-scrollbar { width: 10px; }/* Track & scroll thickness */

  ::-webkit-scrollbar-track { background-color:#aea; }/* Track color */

  ::-webkit-scrollbar-thumb { background-color: #555;border-radius:5px;}/* Scroll color */

  ::-webkit-scrollbar-thumb:hover { background-color: #333 }/* Scroll hover color */

  ::-webkit-scrollbar-thumb:active { background-color: #333 }/* Scroll click & drag color */
.master-nav{
	position:fixed;
	height:45px;
	width:100%;
	background-color:#222;
	
}
.master-nav-content{
	text-align:center;
	width:980px;
	margin-left:auto;
	margin-right:auto;
	line-height:45px;
}
.master-nav-content a{
	color:#ddd;
}
.master-nav-content a:hover{
	color:#fff;
	text-decoration:none;
}
.search-content{
	margin-top:5px;
}
.header-blank{
	padding-top:75px;
}
.footer-blank{
	padding-bottom:20px;
}
.logreg *{
	display:inline;
}
.up-button{
	width:120px;
	height:30px;
	margin-top:8px;
	line-height:25px;
	border:0;
}